body {
	background-color: LightGreen;
	color: dimgray;
	font-size: 64px;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	margin: 0;
}

#time {
	text-align: center;
	white-space: nowrap;
	margin: 0;
	font-size: 240px;
}

.info {
	padding-left: 16px;
	margin-top: 24px;
	margin-bottom: 24px;
}

/*.halfContainer {
	right: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}
.halfButton {
	width: calc(50% - 10px);
	background-color: white;
	color: black;
	text-align: center;
	display: inline-block;
	border-width: 10px 5px 10px 10px;
	border-color: gray;
}*/

.fullButton {
	bottom: 0;
	right: 0;
	position: fixed;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */
}

.step {
	font-size: 32px;
	white-space: nowrap; 
	overflow: hidden;
}

.reps {
	font-size: 20px;
	padding-left: 16px;
}

#workout-list {
	padding: 8px;
	display: none;
	margin-top: 24px;
	background-color: white;
	color: black;
	max-height: 50vh;
	min-height: 64px;
	width: 30vw;
	overflow-y: auto;
}

.select-label {
	font-size: 56px;
	padding-right: 48px;
}

#add-button {
	top: 15;
	position: fixed;
	margin: 16px;
}

#save-button {
	position: fixed;
	margin: 16px;
	margin-top: 90px;
}

#reset-button {
	position: fixed;
	margin: 16px;
	margin-top: 164px;
}

#link-button {
	font-size: 48px;
}

a:visited, a:link {
  color: blue;
}